<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Kreiranje novog menija</title>
</head>
<body>
<div align="center">
<h1>Upišite podatke Menija</h1>
<br /> 
<form action=“#“ th:action="@{/meni/novi}" th:object="${Meni}" method="post">
<table border="0" cellpadding="10">
<tr>
<td>Naziv menija:</td>
<td><input id="naziv" type="text" th:field="*{naziv}"/>
<p th:if="${#fields.hasErrors('naziv')}" class="text-danger" th:errors="*{naziv}"></p>
</td>
</tr>
<tr>
<td>Juha:</td>
<td><input id="juha" type="text" th:field="*{juha}"/>
<p th:if="${#fields.hasErrors('juha')}" class="text-danger" th:errors="*{juha}"></p>
</td>
</tr>
<tr>
<td>Glavno jelo:</td>
<td><input id="glavno_jelo" type="text" th:field="*{glavno_jelo}"/>
<p th:if="${#fields.hasErrors('glavno_jelo')}" class="text-danger" th:errors="*{glavno_jelo}"></p>
</td>
</tr>
<tr>
<td>Desert:</td>
<td><input id="desert" type="text" th:field="*{desert}"/>
<p th:if="${#fields.hasErrors('desert')}" class="text-danger" th:errors="*{desert}"></p>
</td>
</tr>
<tr>
<td>Vege:</td>
<td><input type="checkbox" th:field="*{vege}"/></td>
</tr>
<tr>
<td>Kalorije:</td>
<td><input id="kalorije" type="text" th:field="*{kalorije}"/>
<p th:if="${#fields.hasErrors('kalorije')}" class="text-danger" th:errors="*{kalorije}"></p>
</td>
</tr>
<tr>
<td>Cijena:</td>
<td><input id="cijena" type="text" th:field="*{cijena}"/>
<p th:if="${#fields.hasErrors('cijena')}" class="text-danger" th:errors="*{cijena}"></p>
</td>
</tr>
<tr>
<td colspan="2"><button id="button-20" type="submit">Snimi</button>
</td>
</tr>
</table>
</form>
<a href="/meni"><button id="button-20">NATRAG</button></a>
</div>
</body>
</html>