<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Jelovnik</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div align="center">
 <h1 class="naslov">POPIS JELOVNIKA</h1>
 <a href="/jelovnik/novi"><button id="button-20">Novi Jelovnik</button></a>
 <br/><br/>
 
 
 <form th:action="@{/jelovnik}" method="get">

  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Unesi pojam..." size="50" >
  <button type="submit" class="btn btn-info" id="button-20" >Search</button>
  <button type="submit" class="btn btn-info" id="button-20" >Reset</button>
  </form>
  <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>  
  
 <table cellpadding="10" id="tablica">
 <thead>
 <tr>
 <th>ID</th>
 <th>Naziv</th>
 <th>Restoran</th>
 <th>Adresa</th>
 <th>Datum</th>
 <th>Meni 1</th>
 <th>Meni 2</th>
 <th>Meni 3</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="jelovnik : ${listaJelovnik}">
 <td th:text="${jelovnik.id_jelovnik}">ID</td>
 <td th:text="${jelovnik.naziv}">ID</td>
 <td th:text="${jelovnik.restoran}">Restoran</td>
 <td th:text="${jelovnik.adresa}">Adresa</td>
 <td th:text="${jelovnik.datum}">Datum</td>
 <td th:text="${jelovnik.meni1}">Meni 1</td>
 <td th:text="${jelovnik.meni2}">Meni 2</td>
 <td th:text="${jelovnik.meni3}">Meni 3</td>
 <td>
 <a th:href="@{'/jelovnik/uredi/' + ${jelovnik.id_jelovnik}}">Uredi</a>
 &nbsp;&nbsp;
 <a th:href="@{'/jelovnik/brisi/' + ${jelovnik.id_jelovnik}}">Briši</a>
 </td>
 </tr>
 </tbody>
 </table>
 
 
 <a href="/"><button id="button-20">POCETNA</button></a>
</div>
</body>
</html>