<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title style="margin-bottom: 500px">Pocetna</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div align="center">
 <h1 class="naslov">STUDENTSKI RESTORAN</h1>
 <br>
 <a style="text-decoration:none" href="/jelovnik"><button id="button-30">JELOVNIK</button></a>
 <br>
 <a style="text-decoration:none" href="/meni"><button id="button-30">MENI</button></a>
 <br>
 <a style="text-decoration:none" href="/search"><button id="button-30">PRETRAZI</button></a>
 <form style="margin-top: 5%" th:action="@{/logout}" method="post">
            <button type="submit" id="button-30">ODJAVI</button>
        </form>
</div>
</body>
</html>