<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Pretrazi</title>
</head>
<body>
<div align="center">
 <h1>PRETRAZI PODATKE</h1>
 <br/><br/>
 <form th:action="@{/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by anything" size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="submit" class="btn btn-info" >Reset</button>
  </form>
  <h1>MENI</h1>
 <table border="1" cellpadding="10">
 <thead>
 <tr>
 <th>ID</th>
 <th>Naziv</th>
 <th>Juha</th>
 <th>Glavno jelo</th>
 <th>Desert</th>
 <th>Vege</th>
 <th>Kalorije</th>
 <th>Cijena</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="meni : ${listaMeni}">
 <td th:text="${meni.id_meni}">ID</td>
 <td th:text="${meni.naziv}">Naziv</td>
 <td th:text="${meni.juha}">Juha</td>
 <td th:text="${meni.glavno_jelo}">Glavno jelo</td>
 <td th:text="${meni.desert}">Desert</td>
 <td th:text="${meni.vege}">Vege</td>
 <td th:text="${meni.kalorije}">Kalorije</td>
 <td th:text="${meni.cijena}">Cijena</td>
 </tr>
 </tbody>
 </table>
 <br/><br/>
 <h1>JELOVNIK</h1>
 <table border="1" cellpadding="10">
 <thead>
 <tr>
 <th>ID</th>
 <th>Naziv</th>
 <th>Restoran</th>
 <th>Adresa</th>
 <th>Datum</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="jelovnik : ${listaJelovnik}">
 <td th:text="${jelovnik.id_jelovnik}">ID</td>
 <td th:text="${jelovnik.naziv}">ID</td>
 <td th:text="${jelovnik.restoran}">Restoran</td>
 <td th:text="${jelovnik.adresa}">Adresa</td>
 <td th:text="${jelovnik.datum}">Datum</td>
 </tr>
 </tbody>
 </table>
 <br/><br/>
 <h1>NAMIRNICE</h1>
 <table border="1" cellpadding="10">
 <thead>
 <tr>
 <th>ID</th>
 <th>Naziv</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="namirnice : ${listaNamirnica}">
 <td th:text="${namirnice.id_Namirnice}">ID</td>
 <td th:text="${namirnice.naziv}">Naziv</td>
 </tr>
 </tbody>
 </table>
</div>
</body>
</html>