<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Meni</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div align="center">
 <h1 class="naslov">POPIS MENIJA</h1>
 <a href="/meni/novi"><button id="button-20">Novi Meni</button></a>
 <br/><br/>
 <form th:action="@{/meni}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by anything" size="50" >
  <button type="submit" class="btn btn-info" id="button-20" >Search</button>
  <button type="submit" class="btn btn-info" id="button-20" >Reset</button>
  </form>
 <table cellpadding="10" id="tablica">
 <thead>
 <tr>
 <th>ID</th>
 <th>Naziv</th>
 <th>Juha</th>
 <th>Glavno jelo</th>
 <th>Desert</th>
 <th>Vege</th>
 <th>Kalorije</th>
 <th>Cijena</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="meni : ${listaMeni}">
 <td th:text="${meni.id_meni}">ID</td>
 <td th:text="${meni.naziv}">Naziv</td>
 <td th:text="${meni.juha}">Juha</td>
 <td th:text="${meni.glavno_jelo}">Glavno jelo</td>
 <td th:text="${meni.desert}">Desert</td>
 <td th:text="${meni.vege}">Vege</td>
 <td th:text="${meni.kalorije}">Kalorije</td>
 <td th:text="${meni.cijena}">Cijena</td>
 <td>
 <a th:href="@{'/meni/uredi/' + ${meni.id_meni}}">Uredi</a>
 &nbsp;&nbsp;
 <a th:href="@{'/meni/brisi/' + ${meni.id_meni}}">Brisi</a>
 </td>
 </tr>
 </tbody>
 </table>
 <a href="/"><button id="button-20">POCETNA</button></a>
</div>
</body>
</html>